/* .drop-down-bar-button{
    display: inline-block;

}

.drop-down-bar-button button{
    
    font-size: 36px;
    border: none;
    cursor: pointer;
    color: #ffd900;
    background-color: #263138;
}

.drop-down-bar-button a{
    display: block;
    color: #ffd900;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 36px;
}

.drop-down-bar-button .bar-button-content{
    display: none;
    position: absolute;
    
    min-width: 100px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.8);
}

.drop-down-bar-button:hover .bar-button-content{
    display: block;
}
.drop-down-bar-button:hover button{
    color: cyan;
}
/* .drop-down-bar-button a:hover{
    
} 

.bar-main-button{
    background-color: #2b2e33;
}
.drop-down-bar-button a:active{
    color: red;
}
.bar-button-1{
    padding: 10px 15px;
}
.bar-button-2{
    padding: 10px 15px;
} */

.language-drop-down-bar-button{
    display: inline-block;
}

.language-drop-down-bar-button button{
    color:hsl(51.06deg 100% 50%);
    border: none;
    font-size: 50px;
    cursor: pointer;
    background-color: #22314200;
}

.language-drop-down-bar-button button:hover{
    color:cyan;
    background-color: #22314200;
}



.language-drop-down-bar-button a{
    display: block;
color:#ffd900;
    text-decoration: none;
}

.language-drop-down-bar-button .language-bar-button-content{
    display: none;
    position: absolute;
    
    max-width: 45px;
    padding: 7px 7px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.8);
}

.language-drop-down-bar-button:hover .language-bar-button-content{
    display: block;
}

.language-drop-down-bar-button a:hover{
    color:cyan;

}

.language-drop-down-bar-button a:active{
    color:red;
 }

.language-heading-img{
    padding-top: 5px;
    width: 35px;
}



.language-drop-down-bar-button-EN{
    display: inline-block;
}

.language-drop-down-bar-button-EN button{
    background-color: hsl(271, 76%, 53%);   
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: white;

}

.language-drop-down-bar-button-EN a{
    display: block;
    color: white;
    text-decoration: none;
}

.language-drop-down-bar-button-EN .language-bar-button-content-EN{
    display: none;
    position: absolute;
    background-color: hsl(271, 76%, 69%);
    max-width: 45px;
    padding: 9px 9px;
    box-shadow: 2px 2px 5px hsl(0, 0%, 0%, 0.8);
}

.language-drop-down-bar-button-EN:hover .language-bar-button-content-EN{
    display: block;
}
.language-drop-down-bar-button-EN:hover button{
    background-color: hsl(271, 76%, 39%);
}
.language-drop-down-bar-button-EN a:hover{
color:#ffd900;

}

.language-drop-down-bar-button-EN a:active{
    color:#69fca6;
}